
<div class="container-fluid session-form">
  <div class="row">
    <div class="col-12">
      <br>
      <h2><%=t("devise.sessions.new")%></h2>
      <br>
      <br>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'custom-form'}) do |f| %>

          <%= devise_error_messages! %>
          <%= render partial: "layouts/form_field", :locals => {
              label: t('user.email'), 
              type: "text", 
              name:"user[email]", 
              id: "email2", 
              required: true,
              placeholder: "", 
              value: @user[:email] 
            }  %>
          <%= render partial: "layouts/form_field", :locals => {
              label: t('user.password'), 
              type: "password", 
              name:"user[password]", 
              id: "password2", 
              required: true,
              placeholder: "", 
              value: @user[:password] 
            }  %>

          <% if devise_mapping.rememberable? -%>
            <div class="field">
              <div class="custom-control form-check custom-checkbox">  
                <input type="checkbox" class="custom-control-input" id="remember_me" name="user[remember_me]" value="<%=resource[:remember_me]%>"  <%= resource[:remember_me] ? "checked":"" %>>
                <label class="custom-control-label" for="remember_me"> <%=t("login.remember_me")%></label>  
              </div>
             
            </div>
          <% end -%>
          <div class="actions">
            <%= f.submit(t("navbar.login"), {class: "btn btn-orange"}) %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
    </div>
  </div>

</div>