<div class="card course" style="width: 100%;" id="course-<%=index%>">
	<div class="card-img-container">
		<img class="card-img-top" src="<%=course[:thumb]%>" alt="">
		<%if (course[:webinar])%>
			<span class="webinar-corner">
				<span><img src="/img/Video_camera_icon.svg" alt=""></span>
			</span>
		<%end%>
		<%if (course[:rating])%>
    	   	<%= render partial: "partials/rating", :locals => {rating: course[:rating]}  %>
		<%end%>
	</div>
	<div class="card-body">
	  <h5 class="course-date"><%=course[:from]%> - <%=course[:to]%></h5>
	  <h4 class="card-title"><%=course[:name]%></h4>
	  <div class="course-description">
	  	<span class="text-wrapper"><%=course[:desc]%></span>
	  </div>
	  <br/>
	  <br/>
	  <%if (defined? mine and mine == true)%>
		<a href="desmatricularse">
		  	<button class="btn btn-outline-dark btn-smaller">
			  	<%= t("course.unenroll")%>
			</button>
		</a>
		<a href="course">
			<button class="btn btn-orange-light btn-smaller">
			  	<%= t("course.continue")%>
			</button>
		</a>
	  <%else%>
		<a href="<%=(course[:webinar] ? "webinar":"course")%>">
		  	<button class="btn btn-outline-dark">
			  	<%= t("course.read_more")%>
			</button>
		</a>
	  <%end%>

	</div>
</div>

