
<div class="container">
	<div class="row">
		<div class="col-12">
			<br>
			<h2><%=title%></h2>
			<br/>
			<br/>

			<form multipart="true" action="<%=action%>" method="post" class="custom-form">
				<%if (method == "put") %>
					<input name="_method" type="hidden" value="put" />
				<%end%>

				<%= render partial: "partials/form_field", :locals => {
						label: t('course.title'), 
						type: "text", 
						name:"course[name]", 
						id: "name", 
						required: true,
						placeholder: t('course.title_placeholder'), 
						value: course[:name] 
					}  %>
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.duration'), 
						type: "text", 
						name:"course[duration]", 
						id: "duration", 
						required: true,
						placeholder: "", 
						value: "#{course[:from] || Time.now.strftime("%d/%m/%Y")}  -  #{course[:to] || Time.now.strftime("%d/%m/%Y")}" 
					}  %>
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.url'), 
						type: "url", 
						name:"course[url]", 
						id: "url", 
						required: true,
						placeholder: t('course.url_placeholder'), 
						value: course[:url] 
					}  %>
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.video'), 
						type: "url", 
						name:"course[video]", 
						id: "video", 
						required: true,
						placeholder: t('course.video_placeholder'), 
						value: course[:video] 
					}  %>				
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.lessons'), 
						type: "text", 
						name:"course[lessons]", 
						id: "lessons", 
						required: true,
						placeholder: t('course.lessons_placeholder'),  
						value: course[:lessons] 
					}  %>
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.languages'), 
						type: "text", 
						name:"course[lang]", 
						id: "lang", 
						required: true,
						placeholder: t('course.languages_placeholder'),  
						value: course[:lang] 
					}  %>				
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.powered_by'), 
						type: "text", 
						name:"course[powered_by]", 
						id: "powered_by", 
						required: false,
						placeholder: t('course.powered_by_placeholder'),  
						value: course[:powered_by] 
					}  %>

				<div class="form-group">
					<div class="row">
						<legend class="col-form-label col-sm-2 pt-0"><%=t('course.type')%></legend>
						<div class="col-sm-10">
							<% t('course.course_formats').each do |name, format|%>
								<div class="custom-control custom-radio ">
									<input type="radio" id="<%=name%>" name="course[type]" class="custom-control-input" value="<%=name%>" <%=course[:type].eql?(name.to_s) ? "checked":"" %>/>
									<label class="custom-control-label" for="<%=name%>"><%=format%></label>
								</div>
							<%end%>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<legend class="col-form-label col-sm-2 pt-0"><%=t('course.tags')%></legend>
					<div class="col-sm-10">
						<% t('tags').each do |name, category|%>
							<div class="custom-control form-check custom-checkbox">  
								<input type="checkbox" class="custom-control-input" id="tag-<%=name%>" name="course[tags]" value="<%=name%>"  <%=(course[:tags] || []).include?(name.to_s) ? "checked":"" %>>
								<label class="custom-control-label" for="tag-<%=name%>"><%=category%></label>  
							</div>  
						<%end%>
					</div>
				</div>
				<%= render partial: "partials/form_field", :locals => {
						label: t('course.desc'), 
						type: "textarea", 
						name:"course[description]", 
						id: "description", 
						required: false,
						placeholder: t('course.description_placeholder'), 
						value: course[:desc] 
					}  %>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label"><%=t('course.contents')%></label>
					<div class="col-sm-10">
						<style>:root{--no-lessons: "<%=t("course.no_lessons")%>";;}</style>
						<div class="content-list-edit"><% (course[:contents]||[]).each_with_index do |lesson, index|%>
								<div class="content-block" data-content-id="<%=index%>">
									<%= render partial: "partials/form_field_icon", :locals => {
											label: "", 
											icon: "fas fa-book",
											type: "text", 
											name:"course[contents][][title]", 
											id: "lesson-#{index}", 
											placeholder: t("course.lesson"), 
											value: lesson[:title],
											delete: "delete-lesson"
										}  %>
									<span title="<%=t('course.add_new_topic')%>" class="add-topic"><i class="fas fa-plus"></i></span>
									<div class="lesson-topics">
										<% (lesson[:topics] || []).each_with_index do |topic, index2|%>
											<%= render partial: "partials/form_field_icon", :locals => {
													label: "", 
													icon: "far fa-bookmark",
													type: "text", 
													name:"course[contents][][topics][]", 
													id: "topic-#{index}-#{index2}", 
													placeholder: t("course.topic"), 
													value: topic,
													delete: "delete-topic"
												}  %>
										<%end%>
									</div>	
								</div>
						<%end%></div>
						<div class="text-left">
							<button type="button" id="add-lesson" class="btn btn-outline-orange"><%=t('course.add_new_lesson')%></button>
						</div>
					</div>
				</div>	
				<div class="form-group row">
					<label class="col-sm-2 col-form-label"><%=t('course.guide')%></label>
					<div class="col-sm-10">
						<%=render partial: "partials/input_file_custom", :locals => {name: "course[guide]", file_name: course[:guide_file_name], label: t('course.upload'), file_path: course[:guide_file_path], id:"guide", accept: "application/pdf"} %>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label"><%=t('course.teachers')%></label>
					<div class="col-sm-10">
						<style>:root{--no-teacher: "<%=t("course.no_teacher")%>";}</style>
						<div id="teacher-list"><% teachers = (course[:teachers]||[])%><% teachers.each_with_index do |teacher, index|%><%=render partial: "partials/teacher_card_edit", :locals => { index: index, teacher: teacher} %><% end %></div>
						<div class="text-left">
							<button type="button" id="add-teacher" class="btn btn-outline-orange"><%=t('course.add_new_teacher')%></button>
						</div>
					</div>
				</div>
				<div class="form-group row"  >
					<label for="photo" class="col-sm-2 col-form-label"><%=t('course.pictures')%></label>
					<div class="col-sm-10">
						<div class="image-edit-actions">
							<!-- <input class="input-file" type="file" name="photo" class="form-control-file" accept="image/*"></input> -->
							<%=render partial: "partials/input_file_custom", :locals => {name: "", file_name: course[:photo_file_name], file_path: course[:photo_file_path], id:"photo", label: t('course.upload'), data_name: "course[photo]",
							data_img_id: "edit-uploaded-picture", width: 800, height: 400, accept: "image/*"} %>
						</div>
						<div class="image-container" style="width: 800px;height: 400px;">
							<img id="edit-uploaded-picture" class="picture" src="<%= course[:photo_file_path] || 'https://via.placeholder.com/800x400.png/ccc/fff?text=800x400'%>"/></div>
					</div>
					<canvas class="canvas" style="width: 800px;height: 400px;"></canvas>

				</div>
					<div class="form-group row text-right">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-orange">
								<%=button_name%>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<script>
window.lang = "<%=I18n.locale%>";
window.dayArray = ["<%=t('calendar.days.sun')%>", "<%=t('calendar.days.mon')%>", "<%=t('calendar.days.tue')%>", "<%=t('calendar.days.wed')%>", "<%=t('calendar.days.thu')%>", "<%=t('calendar.days.fri')%>", "<%=t('calendar.days.sat')%>"];
window.monthArray = ["<%=t('calendar.months.jan')%>", "<%=t('calendar.months.feb')%>", "<%=t('calendar.months.mar')%>", "<%=t('calendar.months.apr')%>", "<%=t('calendar.months.may')%>", "<%=t('calendar.months.jun')%>", "<%=t('calendar.months.jul')%>", "<%=t('calendar.months.aug')%>", "<%=t('calendar.months.sep')%>", "<%=t('calendar.months.oct')%>", "<%=t('calendar.months.nov')%>", "<%=t('calendar.months.dec')%>"];
window.newTeacherTemplate = '<%= escape_javascript(render partial: "partials/teacher_card_edit", :locals => { index: "${index}" , teacher: {}}) %>'
window.newLessonTemplate = '<div class="content-block"><%= escape_javascript(render partial: "partials/form_field_icon", :locals => { label: "",  icon: "fas fa-book", type: "text",  name:"contents[][title]",  id: "lesson-${index}",  placeholder: t("course.lesson"),  value: "", delete: "delete-lesson" } ) %><span class="add-topic"><i class="fas fa-plus"></i></span><div class="lesson-topics"></div></div>';
window.newTopicTemplate = '<%= escape_javascript(render partial: "partials/form_field_icon", :locals => {label: "", icon: "far fa-bookmark",type: "text", name:"contents[][topics][]", id: "topic-${index}-${index2}", placeholder: t("course.topic"), value: "",delete: "delete-topic"})  %>'
window.calendarI18n = <%= (raw t('calendar').to_json)%>
</script>
<script src="/ckeditor4/ckeditor.js"></script>
