<div class="d-flex flex-lg-row flex-xs-column teacher-card">
  <div class="teacher-picture-container">
  	<img src="<%=teacher[:photo]%>" alt="">
  </div>
  <div class="teacher-info">
  	<p class="teacher-name"><%=teacher[:name]%></p>
  	<p><%=teacher[:position]%>
  		<span class="social-list">
	  		<%if !teacher[:linkedin].nil?%>
	  			<a href="https://www.linkedin.com/in/<%=teacher[:linkedin]%>">
		  			<button class="btn btn-outline-dark btn-social">
		  				<i class="fab fa-linkedin-in"></i>
		  			</button>
		  		</a>
		  	<%end%>
		  	<%if !teacher[:facebook].nil?%>
		  		<a href="https://facebook.com/<%=teacher[:facebook]%>">
		  			<button class="btn btn-outline-dark btn-social">
		  				<i class="fab fa-facebook-f"></i>
		  			</button>
		  		</a>
		  	<%end%>
		  	<%if !teacher[:instagram].nil?%>
		  		<a href="https://instagram.com/<%=teacher[:instagram]%>">
		  			<button class="btn btn-outline-dark btn-social">
		  				<i class="fab fa-instagram"></i>
		  			</button>
		  		</a>
		  	<%end%>
		  	<%if !teacher[:twitter].nil?%>
		  		<a href="/twitter/<%=teacher[:twitter]%>">
		  			<button class="btn btn-outline-dark btn-social">
		  				<i class="fab fa-twitter"></i>
		  			</button>
		  		</a>
		  	<%end%>
	 	</span>
	</p>
	<p><%=teacher[:bio]%></p>
  </div>
</div>
<br>