<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="user-block">
				<div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
					<div class="user-picture-container">
						<img src="<%=@profile_user.avatar.url|| "/img/user_placeholder.png"%>" onerror="function(){this.src=''}">
					</div>
					<div class="user-info">
						<h1 class="user-name"><%=@profile_user[:name]%></h1>
						<div class="d-flex justify-content-center justify-content-md-start user-tags">
							<% (@profile_user.tag_list.join(",")||"").split(',').each do |tag| %>
							<span class="user-tag"><%=tag%></span>
							<% end %>
						</div>
					</div>
					<% if @isProfileOwner %>
						<a href="/users/edit" style="float:right;">
							<button class="btn btn-outline-dark"><%=t("profile.edit")%></button>
						</a>&nbsp;
					<% end %>
					<%= button_to(t("devise.sessions.logout"), destroy_user_session_path, :method => :delete, :class=> "btn btn-outline-orange") %>
				</div>
				<br>
			</div>
		</div>
		<% if @isProfileOwner %>
		<div class="col-xs-12 col-md-6 calendar-container ">
			<div id="calendar"></div>
			<br/>
			<br/>
		</div>
		<%events = (@profile_user.courses||[]).reject{|x| x.webinar == false} %>
		<div class="col-xs-12 col-md-6 event-calendar-list">
			<% events.each do |event| %>
				<%= render partial: "courses/event_calendar", :locals => {event: event}%>
			<% end %>
			<div class="no-events hidden orange"><h4><%=t("profile.no_events")%></h4></div>
		</div>
		<% end %>
	</div>
</div>
<br/>
<br/>
<% if @isProfileOwner %>
<div class="soft-background">
	<%= render partial: "courses/course_list_4", 
	:locals => {title: t("profile.your_courses_and_webinars"), courses: @profile_user.courses ||[] , link: "/", mine: true }  %>
</div>
<% end %>

<script>
window.selectedDates = [
  <% events.each_with_index do |event, index| %>
  	new Date("<%=event[:start_date]%>")<%if (events.length() != index + 1) %>,<%end%>
  <% end %>
  ].map(d=>{
  	d.setHours(0,0,0,0); 
  	return d.getTime();
});

window.dayArray = ["<%=t('calendar.days.sun')%>", "<%=t('calendar.days.mon')%>", "<%=t('calendar.days.tue')%>", "<%=t('calendar.days.wed')%>", "<%=t('calendar.days.thu')%>", "<%=t('calendar.days.fri')%>", "<%=t('calendar.days.sat')%>"];

window.monthArray = ["<%=t('calendar.months.jan')%>", "<%=t('calendar.months.feb')%>", "<%=t('calendar.months.mar')%>", "<%=t('calendar.months.apr')%>", "<%=t('calendar.months.may')%>", "<%=t('calendar.months.jun')%>", "<%=t('calendar.months.jul')%>", "<%=t('calendar.months.aug')%>", "<%=t('calendar.months.sep')%>", "<%=t('calendar.months.oct')%>", "<%=t('calendar.months.nov')%>", "<%=t('calendar.months.dec')%>"];

</script>
