<div class="container">
	<div class="row">
		<div class="col-12">
			<br>
			<h2><%=t("user.edit")%></h2>
			<br/>
			<br/>

			<%= render partial: "users/form", :locals => { user:  @user} %>
			<br/>
			<hr>
			<h4><%=t("account.cancel")%></h4>
			<p><%= button_to t("account.cancel"), registration_path(resource_name), data: { confirm: t("dictionary.are_you_sure") }, method: :delete, class: "btn btn-outline-dark" %></p>

			<%= link_to t("dictionary.back"), :back %>
		</div>
	</div>
</div>