<%visible = !cookies.permanent[:cookies_set].blank? != true%>

<div class="cookie-panel-section py-4 show-cookie-msg <%=visible ? '' : 'd-none' %>" style="">
	<div class="container-fluid">
		<a class="close hide-cookie-section-header-close" onclick="declineCookies()"></a>
		<h1><%=t("cookies.title")%></h1>
		<p class="small-text font-weight-bold col-xs-12 col-sm-9 col-md-6">
			<%=t('cookies.msg') %>
			<a class="o-link o-caps" target="_blank" href="https://www.orange.es/cookies.html">
				<%=t('cookies.cookie_policy') %>
			</a>
		</p>
		<p>
			<a href="#" class="hide-cookie-section-header-button accept">
				<button class="btn btn-orange-light" onclick="acceptCookies()"><%=t("cookies.agree")%></button>
			</a>
			<button class="btn btn-secondary" onclick="privacy(event)"><%=t("cookies.more")%></button>
		</p>
	</div>
</div>	
<script type="text/javascript">
var utag_data = {
}
function openCategory(e,t){var o,n,c;for(n=document.getElementsByClassName("tabcontent"),o=0;o<n.length;o++)n[o].style.display="none";for(c=document.getElementsByClassName("tablinks"),o=0;o<c.length;o++)c[o].className=c[o].className.replace(" active","");document.getElementById(t).style.display="block",e.currentTarget.className+=" active"}


function openPrompt() {
    utag.gdpr.showConsentPreferences(), document.getElementById("defaultOpen").click(), (document.getElementsByTagName("body")[0].className += " prompt_open");
}

function privacy(event){
	openPrompt();
}

function acceptCookies(event){
	Cookies.set('cookies_set', 1, { expires: Infinity });
	utag.gdpr.setConsentValue("true");
	$('.cookie-panel-section').addClass("d-none");
}

function declineCookies(event){
	$('.cookie-panel-section').addClass("d-none");

}
</script>
<!-- Loading script asynchronously -->
<script type="text/javascript">
    (function(a,b,c,d){
    a='https://tags.tiqcdn.com/utag/orange-es/orangedigitalcenter/prod/utag.js';
    b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
    a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
    })();
</script>
