<div class="jumbotron initial-info initial-info-no-login landing-bckg">
  <div class="card info-block">
    <div class="card-body">
      <h1 class="card-title"><%=t('landing.welcome_new')%></h1>
      <br/>
      <p class="intro-paragraph"><%=t('landing.intro_new')%></p>
      <br/>
      <div class="intro-button-container">
        <a href="/all_courses"><button class="btn btn-secondary btn-inverse btn-start btn-lg"><%=t('landing.start')%></button></a>
      </div>
    </div>
  </div>
  <span class="arrow_down"><i class="fa fa-chevron-down"></i></span>
</div>
<div class="highlight-background" id="popular_courses">
  <%= render partial: "courses/course_list_4", :locals => {title: t('landing.popular_courses'), courses: @top_courses, button: t('landing.see_all'), button_link: "/courses", link: "/courses", mine: false }  %>
</div>
<div id="popular_webinars">
  <%= render partial: "courses/course_list_4", :locals => {title: t('landing.popular_webinars'), courses: @top_webinars, button: t('landing.see_all'), button_link: "/webinars", link: "/webinars", mine: false  }  %>
</div>