<div class="container-fluid initial-info initial-info-login">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-8 landing-bckg">
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4 info-block">
      <h1 class="card-title"><%=t('landing.welcome_old')%></h1>
      <p class="intro-paragraph">
        <%= t('landing.intro_old') %>
      </p>
      <br/>
      </div>
    </div>
  </div>
<div>
  <%= render partial: "courses/course_list_4", :locals => {title: t("landing.your_courses"), desc:"", courses: @user_courses, button: t('landing.see_all'), button_link: "/", link: "/users/#{current_user.id}", mine: true, empty_msg: t("course.no_courses_yet") }  %>
</div>
<div class="highlight-background">
	<%= render partial: "courses/course_list_3", :locals => {title: t('landing.popular_courses_week'), desc: t('landing.popular_courses_week_intro'), courses: @top_courses, button: t('landing.see_all'), button_link: "/courses", link: "/courses" }  %>
</div>
<div>
  <%= render partial: "courses/course_list_3", :locals => {title: t('landing.popular_webinars_week'), desc: t('landing.popular_webinars_week_intro'), courses: @top_webinars, button: t('landing.see_all'), button_link: "/webinars", link: "/webinars" }  %>
</div>