<div class="container-fluid course-detail">
  <div class="row">
    <div class="col-xs-12 col-md-9">
    	<iframe class="course-video" src="https://www.youtube.com/embed/jCf4UZ6HS6A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 col-md-3 course-info">
		<%if @user[:admin]%>
			<a href="/course/<%=@course[:id]%>/edit" class="text-right d-block">
				<button class="btn btn-dark orange" style="top:-10px;right:-10px;">
					<i class="far fa-edit"></i>
				</button>
			</a>
		<%else%>
			<br/>
		<%end%>
		<div class="course-characteristic">
			<span class="course-field orange"><%= t("course.date")%>:</span> 
			<span><%=@course[:from]%>-<%=@course[:to]%></span> 
		</div>
		<% if defined?@course[:duration] %>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.duration")%>:</span> 
				<span><%=@course[:duration]%></span>
			</div>
		<% end %>
		<% if defined?@course[:type] %>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.type")%>:</span> 
				<span><%=t("course.course_formats." + @course[:type])%></span>
			</div>
		<% end %>
		<% if defined?@course[:lessons] %>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.lessons")%>:</span> 
				<span><%=@course[:lessons]%></span>
			</div>
		<% end %>
		<% if defined?@course[:lang] %>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.languages")%>:</span> 
				<span><%=@course[:lang]%></span>
			</div>
		<% end %>
		<% if defined?@course[:tags] %>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.tags")%>:</span> 
				<span>
					<% @course[:tags].each_with_index do |tag, index|%>
						<span class="course-tag"><%=t("tags." + tag)%></span><%if index != @course[:tags].length()-1%>, <%end%> 
					<%end%>
				</span>
			</div>
		<% end %>
		<div class="course-characteristic">
			<span class="course-field orange"><%= t("course.powered_by")%>:</span> 
			<span><%=@course[:powered_by]%></span>
		</div>
		<%if (@course[:rating])%>
			<div class="course-characteristic">
				<span class="course-field orange" ><%= t("course.rating")%>:</span>
				<span class="course-rating-container">
    	   		<%= render partial: "partials/rating", :locals => {rating: @course[:rating]}  %>
    	   		</span>
    	   	</div>
		<%end%>
		
		<br/><br/><br/><br/>
		<button class="btn btn-orange btn-see" ><%=@course[:enrolled] ? t("course.continue") : t("course.enroll")%></button>
		<br/>
    </div>
  </div>
</div>
<div class="container course-desc">
	<div class="row">
	    <div class="col-xs-12 col-lg-9"><br/><br/>
	    	<div>
				<h2 class="orange"><%=@course[:name]%></h2>
				<%if @course[:desc] %>
					<p><%=sanitize @course[:desc].html_safe%></p>
				<% end %>
			</div>
			<%if @course[:contents].length() > 0 %>
				<div>
					<h3 class="orange-light"><%= t("course.contents")%>
						<%if @course[:guide_file_name] %>
							<a href="<%=@course[:guide_file_path]%>" download ="<%=@course[:guide_file_name]%>"  class="float-sm-right">
								<button class="btn btn-outline-dark">
									<%= t("course.download_guide")%>&nbsp;&nbsp;<i class="fas fa-download"></i>
								</button>
							</a>
						<% end %>
					</h3>
					<ul class="content-list">
						<% @course[:contents].each do |section|%>
							<li class="content-section">
								<span class="content-title"><%=section[:title]%></span>
								<ul class="topic-list">
									<% section[:topics].each do |topic|%>
										<li class="topic"><span><%=topic%></span>
									<%end%>
								</ul>
						<%end%>
					</ul>
				</div>
			<% end %>
	    	<br/>
	    	<br/>
			<% @course[:teachers].each_with_index do |teacher, index| %>
		   		<%= render partial: "partials/teacher_card", :locals => {index: index, teacher: teacher}  %>
			<% end %>
			<br>
		</div>
	</div>
</div>
<div class="soft-background">
  <%= render partial: "partials/course_list_4", 
        :locals => {title: t("course.related_courses"), courses: @related_courses, link: "/", mine: false }  %>
</div>