<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="user-block">
				<div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
					<div class="user-picture-container">
						<img src="<%=@user[:img]%>">
					</div>
					<div class="user-info">
						<h1 class="user-name"><%=@user[:name]%></h1>
						<div class="d-flex justify-content-center justify-content-md-start user-tags">
							<% @user[:tags].each do |tag| %>
							<span class="user-tag"><%=tag%></span>
							<% end %>
						</div>
					</div>
					<a href="/profile/edit" style="float:right;">
						<button class="btn btn-outline-dark"><%=t("profile.edit")%></button>
					</a>
				</div>
				<br>
			</div>
		</div>
		<div class="col-xs-12 col-md-6  calendar-container ">
			<div id="calendar"></div>
			<br/>
			<br/>
		</div>
		<div class="col-xs-12 col-md-6 event-calendar-list">
			<% @user[:events].each do |event| %>
			<%= render partial: "partials/event_calendar", :locals => {event: event}%>
			<% end %>
			<div class="no-events hidden orange"><h4><%=t("profile.no_events")%></h4></div>
		</div>
	</div>
</div>
<br/>
<br/>
<div class="soft-background">
	<%= render partial: "partials/course_list_4", 
	:locals => {title: t("profile.your_courses_and_webinars"), courses: @user[:courses], link: "/", mine: true }  %>
</div>


<script>
window.selectedDates = [
  <% @user[:events].each_with_index do |event, index| %>
  new Date("<%= event[:date]%>") 
  <%if (@user[:events].length() != index + 1) %>
  ,
  <%end%>
  <% end %>
  ].map(d=>{
  	d.setHours(0,0,0,0); 
  	return d.getTime();
});

window.dayArray = ["<%=t('calendar.days.sun')%>", "<%=t('calendar.days.mon')%>", "<%=t('calendar.days.tue')%>", "<%=t('calendar.days.wed')%>", "<%=t('calendar.days.thu')%>", "<%=t('calendar.days.fri')%>", "<%=t('calendar.days.sat')%>"];

window.monthArray = ["<%=t('calendar.months.jan')%>", "<%=t('calendar.months.feb')%>", "<%=t('calendar.months.mar')%>", "<%=t('calendar.months.apr')%>", "<%=t('calendar.months.may')%>", "<%=t('calendar.months.jun')%>", "<%=t('calendar.months.jul')%>", "<%=t('calendar.months.aug')%>", "<%=t('calendar.months.sep')%>", "<%=t('calendar.months.oct')%>", "<%=t('calendar.months.nov')%>", "<%=t('calendar.months.dec')%>"];

</script>
