<%startDate = DateTime.parse(@webinar[:date])%>
<%finishDate =  startDate + (@webinar[:duration] / 1440.0)%>
<%notYet = DateTime.now < startDate%>
<%currentlyGoingOn = DateTime.now > startDate && DateTime.now < finishDate%>
<%ended = !notYet && !currentlyGoingOn %>
<div class="container-fluid course-detail">
	<div class="row">
		<div class="col-xs-12 col-md-9">
			<% if (notYet) %>
				<%= render partial: "partials/countdown", :locals => { date: startDate} %>
			<% elsif (currentlyGoingOn)%>
				<div class="live">
					<div class="text-center">
						<h2 class="orange"><%=t("course.live")%><img src="<%=@webinar[:platform_img]%>"/></h2>
						<a href="">
							<button class="btn btn-orange"><%=t("course.join")%></button>
						</a>
						<br/>
						<br/>
					</div>
				</div>
			<%else%>
			<iframe class="course-video" src="<%=@webinar[:video]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<%end%>
		</div>
		<div class="col-xs-12 col-md-3 course-info">
			<%if @user[:admin]%>
				<a href="/webinar/<%=@webinar[:id]%>/edit" class="text-right d-block link-edit-course">
					<button class="btn btn-dark orange btn-edit-course">
						<i class="far fa-edit"></i>
					</button>
				</a>
			<%else%>
				<br/>
			<%end%>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.date")%>:</span> 
				<span><%=@webinar[:date]%></span>
			</div>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.duration")%>:</span> 
				<span><%=@webinar[:duration]%></span>
			</div>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.languages")%>:</span> 
				<span><%=@webinar[:lang]%></span>
			</div>
			<% if defined?@webinar[:tags] %>
				<div class="course-characteristic">
					<span class="course-field orange"><%= t("course.tags")%>:</span> 
					<span>
						<% @webinar[:tags].each_with_index do |tag, index|%>
							<span class="course-tag"><%=t("tags." + tag)%></span><%if index != @webinar[:tags].length()-1%>, <%end%> 
						<%end%>
					</span>
				</div>
			<% end %>
			<div class="course-characteristic">
				<span class="course-field orange"><%= t("course.powered_by")%>:</span> 
				<span><%=@webinar[:powered_by]%></span>
			</div>
			<%if ended%>
				<%if (@webinar[:rating])%>
					<div class="course-characteristic">
						<span class="course-field orange" ><%= t("course.rating")%>:</span>
						<span class="course-rating-container">
							<%= render partial: "partials/rating", :locals => {rating: @webinar[:rating]}  %>
						</span>
					</div>
				<%end%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.visits")%>:</span> 
						<span><%=@webinar[:visits]%></span>
					</div>
			<%else%>
				<div class="course-characteristic">
					<span class="course-field orange"><%= t("course.interested_users")%>:</span> 
					<span><%=number_with_delimiter(@webinar[:interested_users], {:delimiter=>","})%></span>
				</div>
			<%end%>
			<br/><br/><br/><br/><br/><br/>
			<%if notYet%>
				<button class="btn btn-orange btn-see" ><%= t("course.enroll_webinar")%></button>
			<%elsif ended%>
				<button class="btn btn-orange btn-see" ><%= t("course.see")%></button>
			<%end%>
			<br/>
		</div>
	</div>
</div>
<div class="container course-desc">
	<div class="row">
		<div class="col-xs-12 col-lg-9">
			<br/><br/>
			<h2 class="orange-light"><%=@webinar[:name]%></h2>
			<p><%=@webinar[:desc].html_safe%></p>
			<br/>
			<% @webinar[:teachers].each_with_index do |teacher, index| %>
				<%= render partial: "partials/teacher_card", :locals => {index: index, teacher: teacher}  %>
			<% end %>
		</div>
	</div>
</div>
<div class="soft-background">
	<%= render partial: "partials/course_list_4", 
	:locals => {title:  t("course.related_webinars"), courses: @related_webinars, link: "/", mine: false }  %>
</div>