<%offset = cookies()[:utc_offset].blank? ? nil : (cookies()[:utc_offset]).to_i %>
<div class="card course" style="width: 100%;" id="course-<%=index%>">
	<div class="card-img-container">
		<a href="/courses/<%=course[:id]%>">
		<img class="card-img-top" src="<%=course.thumb.url(:thumb)%>" alt="">
		
		<%if (course[:webinar])%>
			<span class="webinar-corner">
				<span><img src="/img/Video_camera_icon.svg" alt=""></span>
			</span>
		<%end%>
		<%if (course[:rating])%>
    	   	<%= render partial: "courses/rating", :locals => {rating: course[:rating]}  %>
		<%end%>
		</a>
	</div>
	<div class="card-body">
		<h5 class="course-date">
		<%if course[:webinar]%>
			<%if course[:start_date]%>
				<%=to_dmyhm(course[:start_date],offset)%> <%unless (!cookies()[:utc_offset].blank?)%>UTC<%end%>
			<%else%>
				<span class="coming-up"><%=t("course.coming_up").upcase%></span> 
			<%end%>
		<%else%>
			<%if course[:start_date] and course[:end_date]%>
	 			<%=to_dmy(course[:start_date],offset)%> -  <%=to_dmy(course[:end_date],offset)%>
			<%else%>
				<span class="coming-up"><%=t("course.coming_up").upcase%></span> 
			<%end%>
		<%end%>
		</h5>
	  <h4 class="card-title"><%=course[:name]%></h4>
	  <div class="course-description">
	  	<span class="text-wrapper"><%=sanitize(course[:description].html_safe,{:tags => []})%></span>
	  </div>
	  <br/>
	  <br/>
	  <%if (defined? mine and mine == true)%>
	  <%= button_to (course[:webinar] ? t("webinar.unenroll") : t("course.unenroll")), "/courses/#{course.id}/unenroll", {:class=> "btn btn-outline-dark btn-smaller", :method=>:post}  %>
		<a href="/courses/<%=course[:id]%>">
			<button class="btn btn-primary btn-orange-light btn-smaller">
			  	<%= t("course.continue")%>
			</button>
		</a>
	  <%else%>
		<a href="/courses/<%=course[:id]%>">
		  	<button class="btn btn-secondary btn-outline-dark">
			  	<%= t("course.read_more")%>
			</button>
		</a>
	  <%end%>

	</div>
</div>
