<div class="container popular-list courses-3">
  	<div class="row">
		<div class="col-xs-12 col-md-4 course-left-info">
			<h2><span><%=title%></span></h2>
	  		<p><%=desc%></p>
			<%if defined?(button) %>
		  		<a href="<%=link%>">
					<button class="btn btn-secondary btn-outline-dark"><%=button%></button>
			  	</a>
		  	<%end%>
	  		<br/>
	  		<br/>
		</div>
		<div class="col-xs-12 col-md-8">
			<div class="row ">
				<% courses.each_with_index do |course, index| %>
			  		<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-4 col-course" style="position: relative;">
					<%if index < 3%>
					   <%= render partial: "courses/course_card", :locals => {index: index, course: course}  %>
					<% end %>
					</div>
				<% end %>
				<%if !defined?(@already_seo)%>
				<%@already_seo = true%>
				<script type="application/ld+json">
				{
					"@context":"https://schema.org",
					"@type":"ItemList",
					"itemListElement":[
						<%courses.each_with_index{|course,index| %>
							{
								"@type":"ListItem",
								"position": <%=index+1%>,
								"url":"<%=@host%>/courses/<%=course.id%>"
							}<%if courses.length - 1 != index%>,<%end%>
						<%}%>
					]
				}
				</script>
				<%end%>
				<%if courses.length() == 0  and  defined?empty_msg %>
					<p class="d-flex no-results text-center" style="min-height: 300px; padding-top: 15px;"><%=empty_msg%></p>
				<%end%>
				</div>
				
			</div>
		</div>

 	</div>
</div>
