<div class="event-calendar hidden" data-date="<%= to_dmy_alt(event[:start_date])%>">
	<%duration = (event[:end_date] - event[:start_date])%>
	<h2 class="event-title"><%=event[:name]%></h2>
	<p class="event-date"><%=to_dmyhm(event[:start_date])%></p>
	<p class="event-duration"><b><%=t("webinar.duration")%>:</b> <%=formatted_duration(duration)%></p>
	<p class="event-language"><b><%=t("course.language")%>:</b> <%=event[:lang]%></p>
</div>