<% teacher_avatar_url = (teacher.respond_to? "avatar") ? teacher.avatar.url : '/img/user_placeholder.png' %>
<%pagelang = I18n.locale.to_s%>
<div class="d-flex  flex-column flex-sm-row teacher-card">
	<div class="teacher-picture-container">
		<img src="<%=teacher_avatar_url%>" alt="">
	</div>
	<div class="teacher-info">
		<p class="teacher-name">
			<a href="/search?teacher=<%=teacher[:id]%>">
				<%=teacher[:name]%>
			</a>
		</p>
		<p>
			<%if !teacher[("position_"+pagelang).to_sym].blank?%>
				<span class="teacher-position"><%=teacher[("position_"+pagelang).to_sym]%></span>
			<%end%>

			<span class="teacher-social-list">
				<%if !teacher[:linkedin].blank?%>
					<a class="btn btn-social btn-linkedin" href="https://www.linkedin.com/in/<%=teacher[:linkedin]%>" aria-label="Linkedin" target="_blank"></a>
				<%end%>
				<%if !teacher[:facebook].blank?%>
					<a class="btn btn-social btn-facebook" href="https://www.facebook.com/<%=teacher[:facebook]%>" aria-label="Facebook" target="_blank"></a>
				<%end%>
				<%if !teacher[:instagram].blank?%>
					<a class="btn btn-social btn-instagram" href="https://instagram.com/<%=teacher[:instagram]%>" aria-label="Instagram" target="_blank"></a>
				<%end%>
				<%if !teacher[:twitter].blank?%>
					<a class="btn btn-social btn-twitter" href="https://twitter.com/<%=teacher[:twitter]%>" aria-label="Twitter" target="_blank"></a>
				<%end%>
			</span>
		</p>
		<p><%=teacher[("bio_"+pagelang).to_sym]%></p>
	</div>
</div>
<br>
