
<% has_avatar = teacher.respond_to? "avatar" %>
<% teacher_placeholder = '/img/user_placeholder.png' %>
<% teacher_avatar_url = has_avatar ? teacher.avatar.url : teacher_placeholder %>

<div class="d-flex flex-lg-row flex-xs-column teacher-card">
	<div class="teacher-picture-container">
		<img src="<%=teacher_avatar_url%>" id="teacher-photo-<%=index%>" alt="" data-placeholder="<%=teacher_placeholder%>">
		<%=render partial: "layouts/input_file_custom", :locals => { name: "", file_name: teacher[:avatar_file_name], file_path: teacher_avatar_url, id:"inputTeacher-#{index}-photo", data_img_id: "teacher-photo-#{index}", width: 120, height: 120, accept: "image/*", label: t('course.teacher.upload'), data_name: "course[teachers][][avatar]" } %>
		<%if has_avatar and teacher_avatar_url != teacher_placeholder%>
			<button type="button" class="btn btn-secondary btn-icon btn-sm delete-cropper">
				<span class="fas fa-trash"></i>
			</button>
		<%end%>
	</div>
	<div class="teacher-edit-block">
		<input type="hidden" name="course[teachers][][id]" id="teacher-<%=index%>" value="<%=teacher[:id]%>">
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fas fa-user",
			type: "text",
			name:"course[teachers][][name]",
			id: "inputTeacher-#{index}-name",
			placeholder: t("course.teacher.name"),
			value: teacher[:name]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "",
			type: "hidden",
			name:"course[teachers][][order]",
			id: "inputTeacher-#{index}-order",
			placeholder: "",
			value: (index.to_i+1)
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fas fa-building",
			type: "text",
			name:"course[teachers][][position_es]",
			id: "inputTeacher-#{index}-position_es",
			placeholder: t("course.teacher.position_es"),
			value: teacher[:position_es]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fas fa-building",
			type: "text",
			name:"course[teachers][][position_en]",
			id: "inputTeacher-#{index}-position_en",
			placeholder: t("course.teacher.position_en"),
			value: teacher[:position_en]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fas fa-building",
			type: "text",
			name:"course[teachers][][position_ca]",
			id: "inputTeacher-#{index}-position_ca",
			placeholder: t("course.teacher.position_ca"),
			value: teacher[:position_ca]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fab fa-facebook-f",
			type: "text",
			name:"course[teachers][][facebook]",
			id: "inputTeacher-#{index}-facebook",
			placeholder: t("course.teacher.facebook"),
			value: teacher[:facebook]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fab fa-linkedin",
			type: "text",
			name:"course[teachers][][linkedin]",
			id: "inputTeacher-#{index}-linkedin-in",
			placeholder: t("course.teacher.linkedin"),
			value: teacher[:linkedin]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fab fa-twitter",
			type: "text",
			name:"course[teachers][][twitter]",
			id: "inputTeacher-#{index}-twitter",
			placeholder: t("course.teacher.twitter"),
			value: teacher[:twitter]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "fab fa-instagram",
			type: "text",
			name:"course[teachers][][instagram]",
			id: "inputTeacher-#{index}-instagram",
			placeholder: t("course.teacher.instagram"),
			value: teacher[:instagram]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "",
			type: "textarea",
			name:"course[teachers][][bio_es]",
			id: "inputTeacher-#{index}-bio_es",
			placeholder: t("course.teacher.bio_es"),
			value: teacher[:bio_es]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "",
			type: "textarea",
			name:"course[teachers][][bio_en]",
			id: "inputTeacher-#{index}-bio_en",
			placeholder: t("course.teacher.bio_en"),
			value: teacher[:bio_en]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "",
			icon: "",
			type: "textarea",
			name:"course[teachers][][bio_ca]",
			id: "inputTeacher-#{index}-bio_ca",
			placeholder: t("course.teacher.bio_ca"),
			value: teacher[:bio_ca]
		}  %>
	</div>
	<button type="button" class="btn btn-teacher delete-teacher" title="<%=t("course.teacher.delete")%>">
		<i class="far fa-trash-alt"></i>
	</button>
	<button type="button" class="btn btn-teacher move-teacher" title="<%=t("course.teacher.reorder")%>">
		<i class="fas fa-arrows-alt-v"></i>
	</button>
	<hr class="orange"/>
</div>
