<% teacher_avatar_url = (teacher.respond_to? "avatar") ? teacher.avatar.url : '/img/user_placeholder.png' %>
<div class="d-flex flex-lg-row flex-xs-column teacher-card">
	<div class="teacher-picture-container">
		<img src="<%=teacher_avatar_url%>" alt="">
	</div>
	<div class="teacher-info">
		<p class="teacher-name"><%=teacher[:name]%></p>
		<p><%=teacher[:position]%>
			<span class="social-list">
				<%if !teacher[:linkedin].blank?%>
				<a href="https://www.linkedin.com/in/<%=teacher[:linkedin]%>">
					<button class="btn btn-outline-dark btn-social">
						<i class="fab fa-linkedin-in"></i>
					</button>
				</a>
				<%end%>
				<%if !teacher[:facebook].blank?%>
				<a href="https://www.facebook.com/<%=teacher[:facebook]%>">
					<button class="btn btn-outline-dark btn-social">
						<i class="fab fa-facebook-f"></i>
					</button>
				</a>
				<%end%>
				<%if !teacher[:instagram].blank?%>
				<a href="https://instagram.com/<%=teacher[:instagram]%>">
					<button class="btn btn-outline-dark btn-social">
						<i class="fab fa-instagram"></i>
					</button>
				</a>
				<%end%>
				<%if !teacher[:twitter].blank?%>
				<a href="https://twitter.com/<%=teacher[:twitter]%>">
					<button class="btn btn-outline-dark btn-social">
						<i class="fab fa-twitter"></i>
					</button>
				</a>
				<%end%>
			</span>
		</p>
		<p><%=teacher[:bio]%></p>
	</div>
</div>
<br>