<% teacher_avatar_url = (teacher.respond_to? "avatar") ? teacher.avatar.url : '/img/user_placeholder.png' %>

<div class="d-flex flex-lg-row flex-xs-column teacher-card">
	<div class="teacher-picture-container">
		<img src="<%=teacher_avatar_url%>" id="teacher-photo-<%=index%>" alt="">
		<%=render partial: "layouts/input_file_custom", :locals => { name: "", file_name: teacher[:avatar_file_name], file_path: teacher_avatar_url, id:"inputTeacher-#{index}-photo", data_img_id: "teacher-photo-#{index}", width: 120, height: 120, accept: "image/*", label: t('course.teacher.upload'), data_name: "course[teachers][][avatar]" } %>
		<button type="button" class="btn delete-teacher">
			<i class="far fa-trash-alt"></i>
		</button>
	</div>
	<div class="teacher-edit-block">
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "fas fa-user",
			type: "text", 
			name:"course[teachers][][name]", 
			id: "inputTeacher-#{index}-name", 
			placeholder: t("course.teacher.name"), 
			value: teacher[:name] 
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "",
			type: "hidden", 
			name:"course[teachers][][id]", 
			id: "inputTeacher-#{index}-id", 
			placeholder: "", 
			value: teacher[:id] 
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "",
			type: "hidden", 
			name:"course[teachers][][order]", 
			id: "inputTeacher-#{index}-order", 
			placeholder: "", 
			value: (index.to_i+1) 
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "fas fa-building",
			type: "text", 
			name:"course[teachers][][position]", 
			id: "inputTeacher-#{index}-position", 
			placeholder: t("course.teacher.position"), 
			value: teacher[:position]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "fab fa-facebook-f",
			type: "text", 
			name:"course[teachers][][facebook]", 
			id: "inputTeacher-#{index}-facebook", 
			placeholder: t("course.teacher.facebook"), 
			value: teacher[:facebook]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "fab fa-linkedin",
			type: "text", 
			name:"course[teachers][][linkedin]", 
			id: "inputTeacher-#{index}-linkedin-in", 
			placeholder: t("course.teacher.linkedin"), 
			value: teacher[:linkedin]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "fab fa-twitter",
			type: "text", 
			name:"course[teachers][][twitter]", 
			id: "inputTeacher-#{index}-twitter", 
			placeholder: t("course.teacher.twitter"), 
			value: teacher[:twitter]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "fab fa-instagram",
			type: "text", 
			name:"course[teachers][][instagram]", 
			id: "inputTeacher-#{index}-instagram", 
			placeholder: t("course.teacher.instagram"), 
			value: teacher[:instagram]
		}  %>
		<%= render partial: "layouts/form_field_icon", :locals => {
			label: "", 
			icon: "",
			type: "textarea", 
			name:"course[teachers][][bio]", 
			id: "inputTeacher-#{index}-bio", 
			placeholder: t("course.teacher.bio"), 
			value: teacher[:bio]
		}  %>
	</div>
	<hr class="orange"/>
</div>

