<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="row search-row">
				<div class="col-12 search-col">
					<form class="custom-form" action="/search" autocomplete="off">
						<span class="input input--hoshi <%=params[:q] && !params[:q].strip.empty? ? "input--filled" : ""%>">
							<%if !params[:webinar].blank?%>
								<input type="hidden" name="webinar" value="<%=params[:webinar]%>">
							<%end%>
							<input class="input__field input__field--hoshi" type="text" id="input-search" name="q" autocomplete="off" value="<%=params[:q]%>"/>
							<button type="submit" class="btn btn-light search-icon">
								<img src="/img/search.svg" class="search-icon-img"/>
							</button>
							<label class="input__label input__label--hoshi" for="input-search">
								<span class="input__label-content input__label-content--hoshi">
									<%=t("search.write")%>
								</span>
							</label>
						</span>
					</form>
				</div>
			</div>
			<div class="row">
				<%=t("search.filter")%>:
				<% I18n.available_locales.map(&:to_s).each do |lanCode| %>
				<form class="filter_locale" class="lang nav-item">
					<%if !params[:webinar].blank?%>
						<input type="hidden" name="webinar" value="<%=params[:webinar]%>">
					<%end%>
					<input type="hidden" name="q" value="<%=params[:q]%>"/>
					<input type="hidden" name="sort_by" value="<%=params[:sort_by]%>"/>
					<input name="card_lang" value="" type="hidden"/>
					<li class="nav-item <%= params[:card_lang] == lanCode ? "active":""%>" value="<%=lanCode%>">
						<a class="nav-link"><%=lanCode%>
						</a>
					</li>
				</form>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="soft-background">
	<div class="col-12">
		<div class="container ">
			<div class="row courses-row courses-search-results">
				<% if @courses.length() > 0 %>
				<% @courses.each_with_index do |course, index| %>
				<div class="col-xs-12 col-sm-6 col-lg-4 col-xl-3 col-course" style="position: relative;">
					<%= render partial: "courses/course_card", :locals => {index: index, course: course}  %>
				</div>
				<% end %>
				<script type="application/ld+json">
				{
					"@context":"https://schema.org",
					"@type":"ItemList",
					"itemListElement": [
						<%@courses.each_with_index{|course,index| %>
							{
								"@type": "ListItem",
								"position": <%=index+1%>,
								"url": "<%=@host%>/courses/<%=course.id%>"
							}<%if @courses.length - 1 != index%>,<%end%>
						<%}%>
					]
				}
				</script>
				<% else %>
				<div class="col-12">
					<p class="no-results">
						<%=t("search.no_results")%>
					</p>
				</div>
				<% end %>
			</div>
			<nav aria-label="...">
				<ul class="pagination justify-content-end">
					<%= will_paginate(@courses, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => t("search.prev"), :next_label => t("search.next")) %>
				</nav>
			</div>
		</div>
	</div>
</div>
