<% offset_orig = cookies()[:utc_offset].blank? ? nil : (cookies()[:utc_offset]).to_i %>
<% offset = (cookies()[:utc_offset] || "0").to_i %>
<% now = (DateTime.now.to_time + offset / 60 ).to_datetime %>
<% currentlyGoingOn = (!@course[:start_date].blank?  && (now > @course[:start_date]) && (now < @course[:end_date])) %>
<% comingUp = @course[:start_date].blank? %>
<% notYet = (comingUp or (now < @course[:start_date])) %>
<% ended = !(comingUp or notYet or currentlyGoingOn) %>
<% noVotes = (notYet or comingUp) %>
<% user_enrolled = user_signed_in? ? @course.users.include?(current_user) : false %>

<div class="container-fluid course-detail">
	<div class="row">
		<div class="col-xs-12 col-md-9">

			<% if @course[:webinar] and notYet and !comingUp%>
				<%= render partial: "courses/countdown", :locals => { date: @course[:start_date], now: now} %>
			<% elsif (@course[:webinar] and currentlyGoingOn)%>
			<div class="live">
				<div class="text-center">
					<h2 class="orange"><%=t("course.live")%>
						<% if !@course.powered_by.blank? or !@course.powered_by_logo_file_name.nil? %>
							<%=t("course.live_in")%>
							<%if !@course[:powered_by_link].blank?%>
								<a href="<%=@course[:powered_by_link]%>" class="o-link text-primary">
							<%end%>
								<% if !@course.powered_by_logo_file_name.nil? %>
									<img class="powered_by_logo" src="<%=@course.powered_by_logo%>"/>
								<% else %>
									<%=@course.powered_by%>
								<% end %>
							<%if !@course[:powered_by_link].blank?%>
								</a>
							<%end%>
						<%else%>
						<% end %>
					</h2>
					<%if user_enrolled %>
					<div class="join-btns">
						<%if !@course[:url].blank? %>
						<a href="<%=@course[:url]%>" target="_blank">
							<%platform1 = url_to_platform(@course[:url])%>
							<%url1 = platform_to_logo(platform1)%>
							<button class="btn <%if !@course[:alt_link] %>btn-lg<%end%> btn-join btn-secondary">
								<%=t("course.join")%> <%if platform1%><%=t("with")%><%end%>
								<img class="btn-logo logo-youtube" src="<%=url1%>">
							</button>
						</a>
						<%end%>
						<%if !@course[:alt_link].blank? %>
						<a href="<%=@course[:alt_link]%>" target="_blank">
							<%platform2 = url_to_platform(@course[:alt_link])%>
							<%url2 = platform_to_logo(platform2)%>
							<button class="btn <%if !@course[:url] %>btn-lg<%end%> btn-join btn-secondary">
								<%=t("course.join")%> <%if platform2%><%=t("with")%><%end%>
								<img class="btn-logo logo-youtube" src="<%=url2%>">
							</button>
						</a>
						<%end%>
					</div>
					<%end%>
					<br/>
					<br/>
				</div>
			</div>
			<% elsif (@course[:webinar]) and !comingUp%>
				<%if !(@course[:retransmission].blank?)%>
					<iframe class="course-video" src="<%=youtube_parse(@course[:retransmission])%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<%else%>
					<img  class="course-video webinar-finished"  src="<%=@course.thumb.url%>" alt="">
				<%end%>
			<% elsif !@course.video.blank? %>
				<iframe class="course-video" src="<%=youtube_parse(@course[:video])%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<%else%>
				<img  class="course-video" src="<%=@course.thumb.url%>" alt="">
			<%end%>
		</div>
		<div class="col-xs-12 col-md-3 course-info">

			<%if can? :edit, @course %>
			<div class="course-btn-toolbar btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			  <div class="btn-group mr-2" role="group" aria-label="First group">
				<a href="/courses/<%=@course[:id]%>/edit" class="  link-edit-course">
					<button  class="btn btn-secondary btn-inverse"><i class="far fa-edit"></i></button>
				</a>
				<% if can? :destroy, @course %>
					<%= link_to url_for(controller: "courses", action: :destroy, id: @course.id), method: :delete, data: { confirm: t('course.confirm_delete'), "ok-button": t('accept'), "cancel-button": t('cancel')}, class: 'text-right link-remove-course' do %>
						<button  class="btn btn-secondary btn-inverse"><i class='fa fa-trash'></i></button>
					<% end %>
				<% end %>
				 </div>
			</div>
			<%else%>
				<br/>
			<%end%>
			<% free_spots = 1 %>
			<% if @course[:webinar] %>
				<%if @course[:start_date]%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.date")%>:</span>
						<span><%=to_dmyhm(@course[:start_date],offset_orig)%> <%unless (!offset_orig.blank?)%>UTC<%end%></span>
					</div>
				<%else%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.date")%>:</span>
						<span class="coming-up"><%=t("course.coming_up").upcase%></span>
					</div>
				<%end%>
				<%if @course[:start_date] and @course[:end_date]%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("webinar.duration")%>:</span>
						<%duration = ((@course[:end_date] - @course[:start_date]))%>
						<span><%=formatted_duration(duration)%></span>
					</div>
				<%end%>
			<% else %>
				<%if @course[:selfpaced]%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.date")%>:</span>
						<span class="self-paced"><%=t("course.selfpaced").upcase%></span>
					</div>
				<%elsif @course[:start_date] and @course[:end_date]%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.date")%>:</span>
						<span><%=to_dmy(@course[:start_date],offset_orig)%>-<%=to_dmy(@course[:end_date],offset_orig)%></span>
					</div>
				<%else%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.date")%>:</span>
						<span class="coming-up"><%=t("course.coming_up").upcase%></span>
					</div>
				<%end%>
				<% if !@course[:dedication].blank? %>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.dedication")%>:</span>
						<span><%=@course[:dedication]%></span>
					</div>
				<% end %>
				<% if !@course[:target_audience].blank? %>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.target_audience")%>:</span>
						<span><%=@course[:target_audience]%></span>
					</div>
				<% end %>
				<% if !@course[:format].blank? %>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.format")%>:</span>
						<span><%=t("course.course_formats." + @course[:format])%></span>
					</div>
				<% end %>
				<% if !@course[:lessons].blank? %>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.lessons")%>:</span>
						<span><%=@course[:lessons]%></span>
					</div>
				<% end %>
			<% end %>
			<% if !@course[:spots].blank? %>
				<% free_spots = [(@course[:spots] - @course.enrollments.length),0].max  %>
				<%if can? :edit, @course%>
					<div class="course-characteristic">
						<span class="course-field orange"><%= t("course.free_spots")%>:</span>
						<span><%=free_spots%>/<%=@course[:spots]%></span>
					</div>
				<%end%>
			<% end %>
			<%if can? :edit, @course%>
				<div class="course-characteristic">
					<span class="course-field orange"><%= t("course.enrollments")%>:</span>
					<span><%=free_spots%>/<%=@course.users.count%></span>
				</div>
			<%end%>
			<% if !@course[:lang].blank? %>
				<div class="course-characteristic">
					<span class="course-field orange"><%= t("course.languages")%>:</span>
					<span><%=@course[:lang]%></span>
				</div>
			<% end %>
			<% if @course[:categories] and  @course[:categories].length > 0%>
				<div class="course-characteristic">
					<span class="course-field orange"><%= t("course.tags")%>:</span>
					<span>
						<% @course[:categories].each_with_index do |tag, index|%>
						<a href="/search?q=<%=tag%>">
							<span class="course-tag"><%=t("categories." + tag)%></span></a><%if index != @course[:categories].length()-1%>, <%end%>
						<%end%>
					</span>
				</div>
			<% end %>
			<%if (!@course[:powered_by].blank?)%>
				<div class="course-characteristic">
					<span class="course-field orange"><%= t("course.powered_by")%>:</span>
					<span>
						<%if !@course[:powered_by_link].blank?%>
							<a class="text-white o-link" href="<%=@course[:powered_by_link]%>"><%=@course[:powered_by]%></a>
						<%else%>
							<%=@course[:powered_by]%>
						<%end%>
					</span>
				</div>
			<%end%>
			<%if !noVotes%>
				<div class="course-characteristic">
					<span class="course-field orange" ><%= t("course.rating")%>:</span>
					<span class="course-rating-container">
						<%= render partial: "courses/rating", :locals => {rating: @course[:rating],
							actionable:  (user_enrolled == true  and !notYet) }  %> (<%=@course.ratings.length%> <%=t("course.votes")%>)
					</span>
				</div>
			<%end%>
			<br/><br/><br/><br/>
			<% if user_enrolled == true %>
				<% unless  @course[:webinar] %>
				<a href="<%=@course[:url]%>" target="_blank">
					<button class="btn btn-inverse btn-primary" >
						<%=t("course.access")%>
					</button>
				</a>
				<br/><br/>
				<%end%>
				<%if !ended %>
				<%= button_to (@course[:webinar] ? t("webinar.unenroll") : t("course.unenroll")), {:controller => "courses", :action => "unenroll"}, {:class=> "btn btn-secondary btn-inverse", :method=>:post}  %>
				<% elsif ended %>
					<div class="course-characteristic">
						<span class="course-field orange"><%=(@course[:webinar] ? t("webinar.over") : t("course.over"))%></span>
					</div>
				<%end%>
				<br/><br/>
			<% else %>
				<% if (@course.is_enrollment_period? and  (@course[:end_date].blank? or  @course[:end_date] >= now)) %>

					<%if free_spots < 1%>
						<div class="course-characteristic">
							<span class="course-field orange"><%= t("course.max_capacity") %></span>
						</div>
					<%else%>
						<%if !user_signed_in? %>
							<%= button_to (@course[:webinar] ? t("webinar.enroll") : t("course.enroll")), new_user_session_url, {:class => "btn btn-inverse btn-primary"}%>
						<%else %>
							<%= button_to (@course[:webinar] ? t("webinar.enroll") : t("course.enroll")), {:controller => "courses", :action => "enroll"}, {:class=> "btn btn-inverse btn-primary", :method=>:post}  %>
						<%end%>
					<%end%>
				<% elsif (!@course[:end_date].blank? and @course[:end_date] < now) %>
					<div class="course-characteristic">
						<span class="course-field orange"><%=(@course[:webinar] ? t("webinar.over") : t("course.over"))%></span>
					</div>
				<% elsif @course.enrollment_period_future? %>
					<div class="course-characteristic">
                                                <span class="course-field orange"><%=t('course.enrollment_period_future') + to_dmy(@course[:start_enrollment_date],offset_orig) %></span>
                                        </div>
				<% else %>
					<div class="course-characteristic">
						<span class="course-field orange"><%=t('course.enrollment_period_over')%></span>
					</div>
				<% end %>
			<% end %>

			<br/>
		</div>
	</div>
</div>
<div class="container course-desc">
	<br>
	<% if !@course.powered_by.blank? or !@course.powered_by_logo_file_name.nil? %>
		<%if !@course[:powered_by_link].blank?%>
			<a href="<%=@course[:powered_by_link]%>" class="o-link text-primary">
		<%end%>
			<% if !@course.powered_by_logo_file_name.nil? %>
				<img class="powered_by_logo float-sm-right" src="<%=@course.powered_by_logo%>"/>
			<% end %>
		<%if !@course[:powered_by_link].blank?%>
			</a>
		<%end%>
	<% end %>
	<div class="row">
		<div class="col-xs-12 col-lg-9"><br/><br/>
			<div>
				<h2 class="orange"><%=@course[:name]%></h2>
				<%if @course[:description] %>
				<p><%= @course[:description].html_safe%></p>
				<% end %>
			</div>
			<%if ((@course[:contents] and @course[:contents].length() > 0) or !@course.teaching_guide.blank?)%>
			<div>
				<h3 class="orange-light"><%= t("course.contents")%>
					<%if !@course.teaching_guide.blank? %>
					<a href="<%=@course.teaching_guide.url%>" download ="<%=@course.teaching_guide_file_name%>"  class="float-sm-right">
						<button class="btn btn-secondary btn-outline-dark">
							<%= t("course.download_guide")%>&nbsp;&nbsp;<i class="fas fa-download"></i>
						</button>
					</a>
					<% end %>
				</h3>
				<%if (@course[:contents] and @course[:contents].length() > 0)%>
					<ul class="content-list">
						<% @course[:contents].each do |section|%>
						<li class="content-section">
							<span class="content-title"><%=section[:title]%></span>
							<% unless section[:topics].blank? %>
							<ul class="topic-list">
								<% section[:topics].each do |topic|%>
								<li class="topic"><span><%=topic%></span></li>
								<%end%>
							</ul>
							<%end%>
						</li>
						<% end %>
					</ul>
				<% end %>
			</div>
			<% end %>
		</ul>
		<br/>
		<br/>
		<% teachers = (@course.sorted_teachers||[])%>
		<% teachers.each_with_index do |teacher, index| %>
			<%= render partial: "courses/teacher_card", :locals => {index: index, teacher: teacher}  %>
		<% end %>
		<br>
	</div>
</div>
</div>
<div class="soft-background">
	<%= render partial: "courses/course_list_4",
	:locals => {title: @course[:webinar] ? t("course.related_webinars") : t("course.related_courses"), courses: @related_courses || [], link: "/", mine: false }  %>
</div>
