
<div class="container" style="min-height: calc(100vh - 181px);">
	<div class="row">
		<div class="col-12">
			<br>
			<h2><%=t("email.massive_email")%></h2>
			<form action="/newsletter" id="emailForm" method="POST">
				<label for="to" class="h3"><%=t("email.to")%></label>
				<!-- <input type="text" id="to" class="form-control" name="email[to]" value="" required> -->
				<div class="query-builder" id="builder-basic"></div>
				<input type="hidden" id="email-to" name="email[to]" value="">
				<div class="text-right">
					<strong>Number of recipients:</strong>&nbsp;<span id="newsletter_count" style="min-width: 50px;display: inline-block;text-align: left;">-</span>
					<button class="btn btn-secondary" id="newsletter_count_btn" type="button">Calculate</button>
				</div>


				<br>				
				<label for="subject" class="h3"><%=t("email.subject")%></label>
				<input type="text" id="subject" class="form-control" name="email[subject]" required value="">
				<br>
				<label for="email-content" class="h3"><%=t("email.content")%></label>
				<iframe allowfullscreen src="/newsletter_authoring_tool" frameborder="0" style="margin:auto; width:100%; height:700px; max-width: 100% !important; border: .125rem solid #ccc" id="emailBuilder"></iframe>
				 <br>
				 <br>
				<input type="hidden" id="email-content" name="email[content]" value="">
				<input type="hidden" id="email-design" name="email[design]" value="">
				<div class="text-center">
					<button class="btn btn-lg btn-primary" id="send" disabled><%=t("email.send")%></button>
				</div>
				<br>
				<br>
			</form>
		</div>
	</div>
</div>

<script>
	$(function(){
		var onIframeLoad = function(){
			var readyToSubmit = false;
			var emailBuilder = document.getElementById('emailBuilder').contentWindow.window.ref.current

			var saveDesign = function(){ 
				emailBuilder.saveDesign(function(design){ 
					$('#email-design').val(JSON.stringify(design))
					readyToSubmit = true;
					$('#emailForm').submit();
				});
			} 
			var saveHTML = function(){
				emailBuilder.exportHtml((data) => {
				  const { design, html } = data;
				  $('#email-content').val(html)
				  saveDesign()
				});
			}
			var sendEmail = function() {
				var result = $('.query-builder').queryBuilder('getRules');
							  
				if (!$.isEmptyObject(result)) {
					$('#email-to').val(JSON.stringify(result));
				}

				if (readyToSubmit) {
					return true;
				} else {
					saveHTML();
					readyToSubmit = false;
					return false;
				}
			}
			$('#emailForm').submit(sendEmail);
			$('#send').attr("disabled",false);
			$('#newsletter_count_btn').click(function() {
				var result = $('.query-builder').queryBuilder('getRules');
				fetch("/newsletter_count", 
					{
						"method": "POST",
						"body":  JSON.stringify({to:result}),
						"headers": {"Content-type":"application/json"}
					}
					)
					.then(res=>res.json())
					.then(({count})=>{
						console.log(count)
						$('#newsletter_count').html(count)
					})
			});

			var rules_basic = {
			  condition: 'AND',
			  rules: [
			  	  {id:""}
			  ]
			};

			<%courses= Course.where(:webinar => false).map { |c| {"id" => c.id, "name" => c.name} } %>
			var courses = JSON.parse(`<%=courses.to_json.html_safe%>`).reduce(
  (obj, item) => Object.assign(obj, { [item.id]: item.name }), {});
			<%webinars= Course.where(:webinar => true).map { |c| {"id" => c.id, "name" => c.name} } %>
			var webinars = JSON.parse(`<%=webinars.to_json.html_safe%>`).reduce(
  (obj, item) => Object.assign(obj, { [item.id]: item.name }), {});

			<%categories = I18n.t('categories').map { |name,cat| {"id" => name, "name" => cat} } %>
			var categories = JSON.parse(`<%=categories.to_json.html_safe%>`).reduce(
  (obj, item) => Object.assign(obj, { [item.id]: item.name }), {});

			$('.query-builder').queryBuilder({
				select_placeholder: '<%=t("email.everyone")%>',
				allow_empty: true,
				lang: {
					"add_rule": '<%=t("email.add_rule")%>',
					"delete_rule": '<%=t("email.delete_rule")%>',
					"operators": {
						"in": "igual a",
						"equal": "igual a",
						"not_in": "distinto de",
						"not_equal": "distinto de",
						"is_null": "ninguno",
						"is_not_null": "cualquiera",
					}
				},
				filters: [
				{
					id: 'course',
					label: '<%=t("email.whoever_attended_course")%>',
					input: 'select',
					multiple: true,
					value_separator: ";",
					values: {
					  ...courses
					},
					operators: ['in', 'not_in', 'is_null', 'is_not_null']
				}, {
					id: 'webinar',
					label: '<%=t("email.whoever_attended_webinar")%>',
					input: 'select',
					multiple: true,
					values: {
					  ...webinars
					},
					operators: ['in', 'not_in', 'is_null', 'is_not_null']
				}, {
					id: 'category',
					label: '<%=t("email.whoever_attended_category")%>',
					input: 'select',
					multiple: true,
					values: {
					  ...categories
					},
					operators: ['in', 'not_in']
					//operators: ['in', 'not_in','is_null', 'is_not_null']
				}, {
					id: 'email',
					label: 'E-mail',
					type: 'string',
					placeholder: '',
					operators: ['equal', 'not_equal']
				}],
				rules: rules_basic
			});




		}
		document.getElementById("emailBuilder").addEventListener("load", onIframeLoad)
	});
</script>