<p><%=t("mailer.welcome")%> <%= @email %>!</p>

<p><%=t("mailer.welcome_msg")%></p>
<p><%=t("mailer.link_msg")%></p>

<p><%= link_to t("mailer.confirm"), confirmation_url(@resource, confirmation_token: @token) %></p>
