<p><%=t("mailer.hello")%> <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%=t("mailer.unconfirmed")%> <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%=t("mailer.confirmed")%> <%= @resource.email %>.</p>
<% end %>
