<p><%=t("mailer.hello")%> <%= @resource.email %>!</p>

<p><%=t("mailer.reset")%></p>

<p><%= link_to t("mailer.password_change"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t("mailer.ignore")%></p>
<p><%=t("mailer.above")%></p>

