<footer class="o-footer clearfix orange-footer" role="contentinfo">
	<div class="o-footer-bottom clearfix pb-5 pb-md-3">
		<div class="container">
			<ul class="nav float-left" style="align-items: flex-end;">
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="http://www.fundacionorange.es/"><img src="/img/LogoFundacion.png" alt="" style="width: 180px; height: 47.5px; padding-bottom: 2px;"></a>
				</li>
				<hr>
				<hr>
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="http://www.fundacionorange.es/politica-de-privacidad/"><%=t('cookies.privacy_policy')%></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" target="_blank" href="http://www.fundacionorange.es/politica-de-cookies/"><%=t('cookies.cookie_policy')%></a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="#" onclick="privacy(event)" ><%=t('cookies.more')%></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about" ><%=t('about.title')%></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/help" ><%=t('help')%></a>
				</li>
			</ul>
				<div class="social-icons float-right mt-2" style="margin-top: 1rem !important;">
					<a class="btn btn-inverse btn-social btn-facebook" href="https://www.facebook.com/fundacionorange/" aria-label="Facebook" target="_blank"></a>
					<a class="btn btn-inverse btn-social btn-twitter" href="https://twitter.com/fundacionorange/" aria-label="Twitter" target="_blank"></a>
					<a class="btn btn-inverse btn-social btn-linkedin" href="https://www.linkedin.com/company/fundacionorange/" aria-label="Linkedin" target="_blank"></a>
					<a class="btn btn-inverse btn-social btn-instagram" href="https://www.instagram.com/FundacionOrange/" aria-label="Instagram" target="_blank"></a>
			</div>
		</div>
		

	</div>
	<%= render partial: "home/cookies", :locals => {} %>
</footer>