<div class="input-group input-group-addon-float">
    <span class="input-group-addon "><i class="<%=icon%>"></i></span>
    <%if type == "textarea" %>
		<textarea  class="form-control" name="<%=name%>" autocomplete="off" id="<%=id%>" placeholder="<%=placeholder %>" rows="3"><%=value%></textarea>
	<%else%>
		<input type="<%=type%>" name="<%=name%>" autocomplete="off" class="form-control" id="<%=id%>" placeholder="<%=placeholder %>" value="<%=value%>" >
	<%end%>
	<%if defined? delete%>
    	<span class="input-group-addon input-group-addon-right <%=delete%>">
    		<i class="far fa-trash-alt"></i>
    	</span>
    <%end%>
</div>
