<% can_create_course = can? :create, Course%>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light2 <%=@searching ? "search" : ""%>">
	<a class="navbar-brand" href="/">
		<img class="navbar-logo" src="/img/LogoOrange.jpg" alt=""/> <span class="navbar-brand-title"> Orange Digital Center </span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item <%=current_page?("/") ? "active" : ""%>">
				<a class="nav-link text-center" href="/">
					<span class="d-none d-sm-none d-md-none d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-home"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-inline d-lg-none d-xl-inline">
						<%= t('navbar.who') %>
					</span>
				</a>
			</li>
			<li class="nav-item <%=current_page?("/courses") ? "active" : ""%>">
				<a class="nav-link text-center" href="/courses">
					<span class="d-none d-sm-none d-md-none d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-book"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-inline d-lg-none d-xl-inline">
						<%= t('navbar.courses') %>
					</span>
				</a>
			</li>
			<li class="nav-item <%=current_page?("/webinars") ? "active" : ""%>">
				<a class="nav-link text-center" href="/webinars">
					<span class="d-none d-sm-none d-md-none d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-podcast"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-inline d-lg-none d-xl-inline">
						<%= t('navbar.webinars') %>
					</span>
				</a>
			</li>
			<%if can_create_course %>
			<li class="nav-item dropdown">
				<a class="nav-link text-center dropdown-toggle" data-target="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="d-none d-sm-none d-md-none d-lg-inline d-xl-none orange"><i class="navbar-icon fas fa-cog"></i></span>
					<span class="d-inline d-sm-inline d-md-inline d-lg-none d-xl-inline none orange">Admin</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/courses/new"><%= t('navbar.new_course') %></a>
					<a class="dropdown-item" href="/courses/new?webinar=1"><%= t('navbar.new_webinar') %></a>
					<!-- <div class="dropdown-divider"></div> -->
				</div>
			</li>
			<%end%>
		</ul>
		<% unless (@searching) %>
		<form class="form-inline my-2 my-lg-0 search-bar d-none d-lg-inline" action="/search">
			<input class="form-control mr-sm-2 search-bar input input-search" name="q" placeholder="" aria-label="<%= t('navbar.search') %>" type="dsearch" autocomplete="off">
			<button class="btn my-2 my-sm-0 btn-link btn-search" type="submit"><img src="/img/search.svg" class="search-icon"/></button>
		</form>
		<% end %>
		<div class=" my-2 my-lg-0 text-center user-name-container <%= user_signed_in? ? "logged-in" : ""%>">
			<%if user_signed_in?%>
			<a href="<%=user_path(current_user)%>">
				<img src="<%=current_user.avatar.url || "/img/user_placeholder.png" %>" class="user-img"/>
				<span class="user-name"><%=current_user[:name]%></span>
			</a>
			<%else%>
			<div class="btn-group">
				<button class="btn btn-outline-dark dropdown-toggle" type="button"  id="loginDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= t('navbar.login') %>
				</button>
				<%=render partial: "layouts/login_dropdown"%>
			</div>
			<%end%>
		</div>

	</div>
</nav>

<div class="navbar-placeholder"></div>
