<nav class=" navbar navbar-expand-md navbar-dark bg-dark2 <%=@searching ? "search" : ""%>">
	<div class="container-fluid">
	<a class="navbar-brand" href="/">
		<img class="navbar-logo" src="/img/orange_logo.svg" alt=""/> <span class="navbar-brand-title h1 mb-0">  Digital Center </span>
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item ">
				<a class="nav-link text-center <%=current_page?("/") ? "active" : ""%>" href="/">
					<span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-home"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-none d-lg-none d-xl-inline">
						<%= t('navbar.home') %>
					</span>
				</a>
			</li>
			<li class="nav-item ">
				<a class="nav-link text-center <%=current_page?("/courses") ? "active" : ""%>" href="/courses">
					<span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-book"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-none d-lg-none d-xl-inline">
						<%= t('navbar.courses') %>
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-center  <%=current_page?("/webinars") ? "active" : ""%>" href="/webinars">
					<span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-podcast"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-none d-lg-none d-xl-inline">
						<%= t('navbar.webinars') %>
					</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-center  <%=current_page?("/about") ? "active" : ""%>" href="/about">
					<span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-none">
						<i class="navbar-icon fas fa-info"></i>
					</span>
					<span class="d-inline d-sm-inline d-md-none d-lg-none d-xl-inline">
						<%= t('about.title') %>
					</span>
				</a>
			</li>
			<%if user_signed_in? && current_user.isAdmin? %>
			<li class="nav-item dropdown">
				<a class="nav-link text-center dropdown-toggle" data-target="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<span class="d-none d-sm-none d-md-inline d-lg-inline d-xl-none orange"><i class="navbar-icon fas fa-cog"></i></span>
					<span class="d-inline d-sm-inline d-md-none d-lg-none d-xl-inline none orange">Admin</span>
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="/courses/new"><%= t('navbar.new_course') %></a>
					<a class="dropdown-item" href="/courses/new?webinar=1"><%= t('navbar.new_webinar') %></a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/menrollment"><%= t('course.massive_enrollment') %></a>
				</div>
			</li>
			<%end%>
		</ul>
		<% unless (@searching) || (user_signed_in? && current_user.isAdmin?) %>
		<form class="form-inline my-2 my-lg-0 search-bar d-none d-lg-inline" action="/search">
			<input class="form-control mr-sm-2 search-bar input input-search" name="q" placeholder="" aria-label="<%= t('navbar.search') %>" type="dsearch" autocomplete="off">
			<button class="btn my-2 my-sm-0 btn-link btn-search" type="submit"><img src="/img/search_ES.svg" class="search-icon"/></button>
		</form>
		<% end %>
		<ul class="navbar-nav lang">
			<li class="nav-item user">
			<%if user_signed_in?%>
			<div class="user-name-container">
				<a class="user-profile" href="<%=user_path(current_user)%>">
					<img src="<%=current_user.avatar.url || "/img/user_placeholder.png" %>" class="user-img"/>
					<span class="nav-link user-name "><%=current_user[:name]%></span>
				</a></div>
				<%else%>
				<%= link_to "", new_user_session_url, class: "nav-link icon-my-account d-md-block"%>
				<%end%>
			</li>

			<% I18n.available_locales.map(&:to_s).each do |lanCode| %>
			<form class="change_locale" action="/change_locale" action="GET" class="lang nav-item ">
				<input name="locale" value="" type="hidden"/>
				<li class="nav-item <%= t('lang') == lanCode ? "active":""%>" value="<%=lanCode%>">
					<a class="nav-link"><%=lanCode%>
					</a>
				</li>
			</form>
			<% end %>

		</ul>
	</div>
	</div>
</nav>
