<div class="custom-file">
  <label class="custom-file-label" for="customFile">
	<%if file_name %>
		<a href="<%=file_path%>" download="<%=file_name%>" onclick="event.stopPropagation()"><%=file_name%></a>
	<%else%>
	  	<%=defined?(local_assigns[:label]) ? local_assigns[:label] : t('course.upload')%>
	<%end%>
	</label>
  <input type="file" accept="<%=defined?( accept ) ? accept : "*"%>" class="custom-file-input" name="<%=name%>" id="<%=id%>" <%=defined?(data_img_id) ? ("data-img-id=#{data_img_id}")  : '' %>  <%=defined?(width) ? ("data-w=#{width}") : '' %> <%=defined?(height) ? ("data-h=#{height}") : "" %> <%=defined?(data_name) ? ("data-name=#{data_name}") : "" %> 
   >
</div>
