<div class="container">
  <div class="row">
    <div class="col-12">
      <br>
      <h2><%=t("user.new")%></h2>
      <br/>

      <%if @course_to_enroll%>
        <%= t("course.signup_enroll")%>

        <%=render partial: "courses/course_card", :locals => { course: @course_to_enroll, horizontal: true, index: 0} %>
      <%end%>
      <div class="draw-attention">
      <%= render "devise/shared/links" %>
      </div>
      <br/>
      <%= render partial: "users/form", :locals => { user:  @user} %>
    <br>
    </div>
  </div>
</div>
